/* Author : Sebastian */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    height: 60vh;
    width:50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.second-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}